<html>
    <head>
    <title>One or Two features</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <SCRIPT language="javascript" type="text/javascript" src="../static/js/jquery-3.2.0.min.js"></SCRIPT>
    <SCRIPT>

    </SCRIPT>
    <style>
        img {
            max-width: 100%;
            height: auto;
            width: auto\9; /* ie8 */
        }
    </style>
    </head>
    <body>
        <div class="header">
            <h3 class="text-muted">{{session['feature1']}} VS {{session['feature2']}}</h3>
        </div>
        <form action="/double" method="post" name="location" onsubmit="return double.reload()">
            <h5 class="text-muted">Please select the genome features</h5>
            <label>Chromosome:</label>
            <input type="text" name="chr" id="chr" maxlength="30" value="" placeholder="e.g. chr1" required/>
            <label>Start:</label>
            <input type="number" name="start" id="start" maxlength="30" value="" required/>
            <label>End:</label>
            <input type="number" name="end" id="end" maxlength="30" value="" required/>
            <input type = "submit"/>
            &nbsp;<label>zoom in</label>&nbsp;
            <input type="button" name="L1.5x" id="L1.5x" maxlength="30" value="1.5x">
            <input type="button" name="L3x" id="L3x" maxlength="30" value="3x">
            <input type="button" name="L10x" id="L10x" maxlength="30" value="10x">
            &nbsp;<label>zoom out</label>&nbsp;
            <input type="button" name="S1.5x" id="S1.5x" maxlength="30" value="1.5x">
            <input type="button" name="S3x" id="S3x" maxlength="30" value="3x">
            <input type="button" name="S10x" id="S10x" maxlength="30" value="10x">
        </form>
        <div>
            <div class="box" id="ifr1">
                <img src={{session['src2']}} width="49%" height="512" align="left"/>
            </div>

            <div class="box" id="ifr2" >
                <img src={{session['src2']}} width="49%" height="512" align="right"/>
            </div>
        </div>
        <div style="clear:both"></div>


        <footer class="footer">
            <p>&copy; Kaifu Chen lab 2017, Houston Methodist</p>
        </footer>

    </body>
</html>