<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Search</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/search.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <h3 class="text-muted">ChIP-Seq Pair</h3>
      </div>

      <div class="jumbotron">
        <h1>Search</h1>
        <form action = "/search" class="form-search" method="post">
        <label for="searchterms" class="sr-only">Experiment Target/Antibody</label>
        <input type="text" name="searchterms" id="searchterms" class="form-control" placeholder="Experiment Target separated by ','">
        <label for="CellLines" class="sr-only">CellLines</label>
        <input type="text" name="CellLines" id="CellLines" class="form-control" placeholder="Cell Lines separated by ','">
        <label for="CellTypes" class="sr-only">CellTypes</label>
        <input type="text" name="CellTypes" id="CellTypes" class="form-control" placeholder="Cell Types separated by ','">
        <label for="Organs" class="sr-only">Organs</label>
        <input type="text" name="Organs" id="Organs" class="form-control" placeholder="Organs separated by ','">
        <label for="Tissues" class="sr-only">Tissues</label>
        <input type="text" name="Tissues" id="Tissues" class="form-control" placeholder="Tissues separated by ','">
        <label for="Species" class="sr-only">Organism</label>
        <select name="Species" id="Species" class="form-control">
          <option value="Homo sapiens">Homo sapiens</option>
          <option value="Mus musculus">Mus musculus</option>
          <option value="Drosophila melanogaster">Drosophila melanogaster</option>
          <option value="Saccharomyces cerevisiae">Saccharomyces cerevisiae</option>
          <option value="Danio rerio">Danio rerio</option>
          <option value="Caenorhabditis elegans">Caenorhabditis elegans</option>
          <option value="Rattus norvegicus">Rattus norvegicus</option>
          <option value="Drosophila yakuba">Drosophila yakuba</option>
          <option value="Oryza sativa">Oryza sativa</option>
          <option value="Arabidopsis thaliana">Arabidopsis thaliana</option>
          <option value="Schizosaccharomyces pombe">Schizosaccharomyces pombe</option>
          <option value="Neurospora crassa">Neurospora crassa</option>
          <option value="Macaca mulatta">Macaca mulatta</option>
          <option value="Bos taurus">Bos taurus</option>
          <option value="Xenopus tropicalis">Xenopus tropicalis</option>
          <option value="Anabaena">Anabaena</option>
          <option value="Drosophila virilis">Drosophila virilis</option>
          <option value="synthetic construct">synthetic construct</option>
          <option value="Pan troglodytes">Pan troglodytes</option>
          <option value="Pseudomonas aeruginosa">Pseudomonas aeruginosa</option>
          <option value="Rhodobacter sphaeroides 2.4.1">Rhodobacter sphaeroides 2.4.1</option>
          <option value="Chlamydomonas reinhardtii">Chlamydomonas reinhardtii</option>
          <option value="Oryzias latipes">Oryzias latipes</option>
          <option value="Zea mays">Zea mays</option>
          <option value="Phaeodactylum tricornutum">Phaeodactylum tricornutum</option>
          <option value="Camponotus floridanus">Camponotus floridanus</option>
          <option value="Escherichia coli">Escherichia coli</option>
          <option value="Caulobacter vibrioides">Caulobacter vibrioides</option>
          <option value="Monodelphis domestica">Monodelphis domestica</option>
          <option value="Escherichia coli str. K-12 substr. MG1655">Escherichia coli str. K-12 substr. MG1655</option>
          <option value="Candida albicans">Candida albicans</option>
          <option value="[Candida] glabrata">[Candida] glabrata</option>
          <option value="Cryptococcus neoformans">Cryptococcus neoformans</option>
          <option value="Gallus gallus">Gallus gallus</option>
          <option value="Synechococcus elongatus PCC 7942">Synechococcus elongatus PCC 7942</option>
          <option value="Oryza sativa Japonica Group">Oryza sativa Japonica Group</option>
          <option value="Plasmodium falciparum 3D7">Plasmodium falciparum 3D7</option>
          <option value="Schmidtea mediterranea">Schmidtea mediterranea</option>
          <option value="Candida glabrata CBS 138">Candida glabrata CBS 138</option>
          <option value="Streptomyces griseus">Streptomyces griseus</option>
          <option value="Candida parapsilosis">Candida parapsilosis</option>
          <option value="Listeria monocytogenes">Listeria monocytogenes</option>
          <option value="Gossypium hirsutum">Gossypium hirsutum</option>
          <option value="Canis lupus familiaris">Canis lupus familiaris</option>
          <option value="Tetrahymena thermophila">Tetrahymena thermophila</option>
          <option value="Pseudomonas savastanoi pv. phaseolicola">Pseudomonas savastanoi pv. phaseolicola</option>
          <option value="Ascaris suum">Ascaris suum</option>
          <option value="Drosophila simulans">Drosophila simulans</option>
          <option value="Pseudomonas aeruginosa UCBPP-PA14">Pseudomonas aeruginosa UCBPP-PA14</option>
          <option value="Saccharomyces cerevisiae SK1">Saccharomyces cerevisiae SK1</option>
          <option value="Capsaspora owczarzaki">Capsaspora owczarzaki</option>
          <option value="Mus musculus domesticus x M. m. molossinus">Mus musculus domesticus x M. m. molossinus</option>
          <option value="Xenopus laevis">Xenopus laevis</option>
          <option value="Saccharomyces cerevisiae BY4741">Saccharomyces cerevisiae BY4741</option>
          <option value="Strongylocentrotus purpuratus">Strongylocentrotus purpuratus</option>
          <option value="Patiria miniata">Patiria miniata</option>
          <option value="Bacillus subtilis PY79">Bacillus subtilis PY79</option>
          <option value="Rhodobacter sphaeroides">Rhodobacter sphaeroides</option>
          <option value="Nematostella vectensis">Nematostella vectensis</option>
          <option value="Arabidopsis lyrata">Arabidopsis lyrata</option>
          <option value="Apis mellifera">Apis mellifera</option>
          <option value="Caulobacter crescentus NA1000">Caulobacter crescentus NA1000</option>
          <option value="Bacillus subtilis subsp. subtilis str. JH642">Bacillus subtilis subsp. subtilis str. JH642</option>
          <option value="Vibrio cholerae O1 str. C6706">Vibrio cholerae O1 str. C6706</option>
          <option value="Mycobacterium tuberculosis H37Rv">Mycobacterium tuberculosis H37Rv</option>
          <option value="Drosophila miranda">Drosophila miranda</option>
          <option value="Columba livia">Columba livia</option>
          <option value="Drosophila pseudoobscura">Drosophila pseudoobscura</option>
          <option value="Triticum aestivum">Triticum aestivum</option>
          <option value="Oxytricha trifallax">Oxytricha trifallax</option>
          <option value="Eucalyptus grandis">Eucalyptus grandis</option>
          <option value="Glycine max">Glycine max</option>
          <option value="Leishmania tarentolae">Leishmania tarentolae</option>
          <option value="Anopheles gambiae">Anopheles gambiae</option>
          <option value="Ustilago maydis">Ustilago maydis</option>
          <option value="Avena sativa/Zea mays addition line">Avena sativa/Zea mays addition line</option>
          <option value="Tetrahymena thermophila CU428">Tetrahymena thermophila CU428</option>
          <option value="Aspergillus nidulans">Aspergillus nidulans</option>
          <option value="Fusarium graminearum">Fusarium graminearum</option>
          <option value="Drosophila busckii">Drosophila busckii</option>
          <option value="Sinorhizobium fredii">Sinorhizobium fredii</option>
          <option value="Macropus eugenii">Macropus eugenii</option>
          <option value="Bacillus subtilis subsp. subtilis str. 168">Bacillus subtilis subsp. subtilis str. 168</option>
          <option value="Escherichia coli K-12">Escherichia coli K-12</option>
          <option value="Plasmodium falciparum">Plasmodium falciparum</option>
          <option value="Mycobacterium tuberculosis">Mycobacterium tuberculosis</option>
          <option value="Sus scrofa">Sus scrofa</option>
          <option value="Pseudomonas syringae">Pseudomonas syringae</option>
          <option value="Vibrio cholerae">Vibrio cholerae</option>
          <option value="Leishmania major">Leishmania major</option>
          <option value="Leishmania donovani">Leishmania donovani</option>
          <option value="Bombyx mori">Bombyx mori</option>
          <option value="Papio anubis">Papio anubis</option>
          <option value="Aspergillus fumigatus">Aspergillus fumigatus</option>
          <option value="Mus musculus x Mus spretus">Mus musculus x Mus spretus</option>
          <option value="Escherichia coli str. K-12 substr. MG1655star">Escherichia coli str. K-12 substr. MG1655star</option>
          <option value="Brassica napus">Brassica napus</option>
          <option value="Microtus ochrogaster">Microtus ochrogaster</option>
          <option value="Caenorhabditis briggsae">Caenorhabditis briggsae</option>
          <option value="Schizosaccharomyces pombe 972h-">Schizosaccharomyces pombe 972h-</option>
          <option value="Saccharomyces cerevisiae W303">Saccharomyces cerevisiae W303</option>
          <option value="Pantherophis guttatus">Pantherophis guttatus</option>
          <option value="Fusarium fujikuroi">Fusarium fujikuroi</option>
          <option value="Sulfolobus solfataricus">Sulfolobus solfataricus</option>
          <option value="Escherichia coli CFT073">Escherichia coli CFT073</option>
          <option value="Arabidopsis">Arabidopsis</option>
          <option value="Mycobacterium smegmatis">Mycobacterium smegmatis</option>
          <option value="Felis catus">Felis catus</option>
          <option value="Eutrema salsugineum">Eutrema salsugineum</option>
          <option value="Human herpesvirus 4">Human herpesvirus 4</option>
          <option value="Plasmodium berghei">Plasmodium berghei</option>
          <option value="Waddlia chondrophila">Waddlia chondrophila</option>
          <option value="Blastomyces dermatitidis ATCC 26199">Blastomyces dermatitidis ATCC 26199</option>
          <option value="Streptomyces venezuelae ATCC 10712">Streptomyces venezuelae ATCC 10712</option>
          <option value="Oreochromis niloticus">Oreochromis niloticus</option>
          <option value="Taeniopygia guttata">Taeniopygia guttata</option>
          <option value="Ovis aries">Ovis aries</option>
          <option value="Clavispora lusitaniae">Clavispora lusitaniae</option>
          <option value="Drosophila willistoni">Drosophila willistoni</option>
          <option value="Streptomyces coelicolor">Streptomyces coelicolor</option>
          <option value="Leptospira interrogans serovar Copenhageni">Leptospira interrogans serovar Copenhageni</option>
          <option value="Anolis carolinensis">Anolis carolinensis</option>
          <option value="Tetraodon nigroviridis">Tetraodon nigroviridis</option>
          <option value="Mus spretus">Mus spretus</option>
          <option value="Streptomyces venezuelae">Streptomyces venezuelae</option>
          <option value="Solanum lycopersicum">Solanum lycopersicum</option>
          <option value="Burkholderia cenocepacia">Burkholderia cenocepacia</option>
          <option value="Dictyostelium discoideum">Dictyostelium discoideum</option>
          <option value="Arabis alpina">Arabis alpina</option>
          <option value="Plasmodium berghei ANKA">Plasmodium berghei ANKA</option>
          <option value="Kluyveromyces lactis">Kluyveromyces lactis</option>
          <option value="Escherichia coli BL21(DE3)">Escherichia coli BL21(DE3)</option>
          <option value="Rhodobacter sphaeroides ATCC 17025">Rhodobacter sphaeroides ATCC 17025</option>
          <option value="Nostoc sp. PCC 7120">Nostoc sp. PCC 7120</option>
          <option value="Human herpesvirus 8">Human herpesvirus 8</option>
          <option value="Human herpesvirus 1 strain KOS">Human herpesvirus 1 strain KOS</option>
        </select>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required>
        <button id="btnSearch" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
      </div>
      <footer class="footer">
        <p>&copy; Kaifu Chen lab 2017, Houston Methodist</p>
      </footer>

    </div>
  </body>


</html>